{% extends "festivalpickr/base.html" %}
{% block content %}

<section id="parallax">

		<!-- Banner -->
		<section id="banner">
			<header>
				<h2>Member's Area</h2>
			</header>
		</section>

<section id="main" class="container">
  <ul>
  <h3>Your Top Picks:</h3>
  {% for search in past_results %}
  {% for festivalname,info in search %}
  <li>
    <div class="box">
      <h3> Name: {{festivalname}}</h3>
      <h4> Band list:</h4>
              <i>{{info.bands}},</i>
      <h3> Score: {{info.score}}</h3>
    </div>
  </li>
  {% endfor %}
  {% endfor %}
  </ul>
  <br/>
</section>

</section>

{% endblock content %}
