<!-- pulls base template from base.html -->
{% extends "festivalpickr/base.html" %}
{% block content %}

<section id="parallax">

<!-- Banner -->
  <section id="banner">
    <header>
      <h2>Results</h2>
    </header>
  </section>

<!-- Main -->
  <section id="main" class="container">
    <ul>
    <!-- {% for festivalname,info,object,price_list in festivals %} -->
    {% for festivalname,info in festivals %}
    <li>
      <div class="box">
        <h3> Name: {{festivalname}}</h3>
        <h4> Band List:</h4>
                <i>{{info.bands}},</i>
        <h3> Score: {{info.score}}</h3>
        <!-- <h3> Price: {{object.price}} USD</h3>
        <h3> Converted Prices:
          {% for name, price, symbol in price_list %}
            <div id={{name}} class="group">{{price}} {{symbol}}</div>
          {% endfor %}
        </h3>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'payment' %}">
          {% csrf_token %}
          <button class="btn btn-default" value="{{ festivalname }}" name="festivalname">Purchase a ticket</button>
        </form>
        {% else %}
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <button class="btn btn-default" value="{{ festivalname }}" name="festivalname">Purchase a ticket</button>
        </form>
        {% endif %} -->
        </div>
        </li>
    {% endfor %}
    </ul>
    <br />
  </section>

  </section>

{% endblock content %}
