<!-- pulls base template from base.html -->
{% extends "festivalpickr/base.html" %}
{% block content %}

<section id="parallax">

<!-- Banner -->
  <section id="banner">
    <header>
      <h2>Results</h2>
    </header>
  </section>

<!-- Main -->
  <section id="main" class="container">
    <ul>
    {% for festivalname,info in festivals %}
    <li>
      <div class="box">
        <h3> Name: {{festivalname}}</h3>
        <h4> Band list:</h4>
                <i>{{info.bands}},</i>
        <h3> Score: {{info.score}}</h3>
        <a href="#" class="btn btn-default" role="button">Purchase a ticket</a>
        </div>
        </li>
    {% endfor %}
    </ul>
    <br />
  </section>

  </section>

{% endblock content %}
